* {
    margin: 0;
    padding: 0;
}

nav {
    height: 50px;
    font-size: medium;
	margin-top: 10px;
	background-color: black;
	display: flex;
	align-items: center;
    font-weight: bold;
}

nav a {
    background-color: white;
    border-radius: 5%;
    padding: 5px;
    margin: auto;
    text-decoration: none;
}

a:hover {
    background-color: rgb(168, 235, 91);   
}

#tampil_data {
    padding: 20px;
    font-size: 16px;
}