* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;   
}

img {
    width: 100px;
    height: 100px;
}

button {
    font-size: 18px;
    padding: 8px;
}

button:hover {
    background-color: rgb(168, 235, 91);
}

form {
    width: 600px;
    margin: auto;
}

fieldset {
    margin-top: 15px;
}
legend {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}

#head {
    background: bisque;
    width: 100%;
}